<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
</head>
<body>
    <style>
        .sp {
            border: 1px solid red;
            height: 50px;
            width: 120px;
            background-color: yellow;
            padding: 10px;
            margin:10px;
            color:white;
            
        }
    </style>
    
    <span class="sp"> @Html.ActionLink("CarAPI", "Index", "Car")</span>
    <span class="sp">
        @Html.ActionLink("Salary", "Index", "Salaries")
    </span>
    <span class="sp">@Html.ActionLink("Employee", "Index", "Employees")</span>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/alertify.min.js"></script>
</body>
</html>
